<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        
        <ul>
            
                <% data.forEach(function(user){ %>
                    Title:
                <a href="<%= user.id %>"><%- user.title%></a><br><br>
            Created At:
                <%- user.createdAt %><br><br>
                <% })%>
              </ul>
</body>
</html>


<script src ="../routes/blog.js"></script>